@import "tailwindcss";

/* daisy ui beta install for new vite*/
@plugin "daisyui";

/* width */
::-webkit-scrollbar {
    width: 10px ;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroller{
  overflow: auto;
  scrollbar-color: #c1c1c1 #5f738f00;
  scrollbar-width: thin;
  scrollbar-gutter: auto;
  
}
